<div class="container">
  <h1>DBC Housing</h1>

  <% if current_user %>
    <button><a href="/houses/new">Create a housing opportunity</a></button>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

  <button><a href="/houses_all">See all available housing opportunities</a>
  </button>
  
  <div class="house-list">
    <% @houses.each do |house| %>
      <%= house.description %>
    <% end %>
  </div>
  
</div>