<div class = "form">
  <form action =  "/houses/new" method = "POST">
    Address <input type = "text" name = "house[address]"> <br>
    Address Line 2 <input type = "text" name = "house[address_2]"> <br>
    Neighborhood <input type = "text" name = "house[neighborhood]"> <br>
    Zip Code <input type = "text" name = "house[zip]"> <br>
    Number of rooms <input type = "text" name = "house[number_of_rooms]"> <br>
    Price <input type = "text" name = "house[price]"> <br>
    Initial deposit <input type = "text" name = "house[deposit]"> <br>
    Email Address <input type = "text" name = "house[email]"> <br>
    Phone number<input type = "text" name = "house[deposit]"> <br>
    Description <input type = "text" name = "house[description]"> <br>
    Minimum number of weeks<input type = "text" name = "house[minimum_weeks]"> <br>
    Maximum number of weeks<input type = "text" name = "house[minimum_weeks]"> <br>
    <input type = "submit"> 
  </form> 
</div>