<div class = "form">

  <form action =  "/houses/new" method = "POST">
    Address <input type = "text" name = "street_address"> <br>
    Address Line 2 <input type = "text" name = "address_2"> <br>
    City <input type = "text" name = "city"> <br>
    Zip Code <input type = "text" name = "zip"> <br>

    number of rooms <input type = "text" name = "number_of_rooms"> <br>
    Price <input type = "text" name = "price"> <br>
    initial deposit <input type = "text" name = "deposit"> <br>
    Phone<input type = "text" name = "phone"> <br>
    Email Address <input type = "text" name = "email"> <br>
    Description <input type = "text" name = "description"> <br>
    <input type = "submit"> 
  </form> 

</div>